<div class="d-flex flex-column w-100">
    <div class="page-wrapper">
        <h3 class="title">Tin đăng của tôi</h3>
    <div class="post-section">
        <div class="post-list">
            <div *ngIf="loading" class="loading">
                <div class="spinner"></div>
            </div>
            <div *ngIf="posts.length <= 0">
                <h3 style="color: red;">Người dùng không có tin đăng nào</h3>
            </div>
            <div *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page.number+1, totalItems: page.totalElements }" class="post-item d-flex align-items-center">
                <a routerLink="/post/{{post.id}}">
                    <div class="thumbnail">
                        <img [src]="post.imageStrings[0]">
                        <span class="number-image">
                            <i class="fa-regular fa-image"></i>
                            <span> {{post.imageStrings.length}}</span>
                        </span>
                        <div *ngIf="post.priority==1" class="ribbon-wrapper">
                            <div class="ribbon">Ưu tiên<i class="fa-solid fa-medal"></i></div>
                        </div>
                        <div class="post-status">
                            <span *ngIf="!post.approved && !post.notApproved" class="waiting">Đợi duyệt</span>
                            <span *ngIf="post.del" class="hiden">Đã ẩn</span>
                            <span *ngIf="post.notApproved" class="rejected">Bị từ chối</span>
                        </div>
                        <div *ngIf="post.del" class="overlay-img">
                            
                        </div>
                    </div>
                </a>
                <div class="post-info w-100">
                    <div class="post-content">
                        <h3 class="post-title">{{post.title}}</h3>
                        <div class="post-config">
                            <span class="price me-3">{{post.accommodation.price/1000000 | number:'1.1-1'}} triệu/tháng</span>
                            <i class="fa-solid fa-chart-area"></i>
                            <span class="acreage ms-1">{{post.accommodation.acreage}} m<sup>2</sup></span>
                        </div>
                        <div class="post-location">
                            <i class="fa-solid fa-location-dot"></i>
                            <span class="location ms-2">{{post.accommodation.address}}</span>
                        </div>
                        
                        <b>
                            <a href="" *ngIf="post.accommodation?.categoryId == 1">Phòng trọ</a>
                            <a href="" *ngIf="post.accommodation?.categoryId == 2">Nhà nguyên căn</a>
                            <a href="" *ngIf="post.accommodation?.categoryId == 3">Chung cư, CCMN</a>
                            <a href="" *ngIf="post.accommodation?.categoryId == 4">Tìm người ở ghép</a>
                        </b>
                    </div>
                </div>
                
                <div class="btn-group d-flex flex-column">
                    <button class="btn-update">Sửa tin</button>
                    <button class="btn-hide" (click)="openModalConfirmHide(post.title!, post.id!)">Ẩn tin</button>
                </div>
            </div>
        </div>
    <div *ngIf="posts.length > 0" class="text-center">
        <pagination-controls (pageChange)="getMyPosts($event)"
                            [maxSize]="5"
                                                                >
        </pagination-controls>
    </div>
    </div>
    </div>
</div>