.tab-button.active{
    background-color: #009688;
    color: #fff;
}

.tab-button {
    color: #2a2a2a;
    border: none;
    padding: 12px 20px;
}

.tab-button:first-child {
    border-radius: 10px 0 0 10px;
}

.tab-button:nth-child(4) {
    border-radius: 0 10px 10px 0;
}

/* .tab-content {
    background-color: #fff;
} */

#tab2, #tab3, #tab4 {
    display: none;
}