<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
           
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5 mb-3 row">
                        <div class="col-sm-8 order-12 order-sm-1 p-2">
                          <h4 class="card-title mt2">sdfđfd </h4>
                        </div>
                        <div class="col-sm-4 order-1 order-sm-12 p-2">
                          <div class=" d-flex justify-content-end ">
                            <button class="btn btn-danger mr-2"
                                    >Từ chối tin
                            </button>
                            <button class="btn btn-primary">Duyệt
                              tin
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
</div>