<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">Danh sách các báo cáo</h4>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="form-check form-check-inline mb-3 mt-3">
                                <input type="checkbox" class="form-check-input ml-3" style="width: 20px; height: 20px;" [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()">
                                <label class="form-check-label ml-2">Chọn tất cả</label>
                                <button class="btn btn-primary ml-3" [disabled]="!anyChecked()" (click)="deleteReport()">Xóa lựa chọn</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                        <th></th>
                                        <th>Mã báo cáo</th>
                                        <th>Bài đăng</th>
                                        <th>Thời gian</th>
                                        <th>Nội dung báo cáo</th>
                                        <th>Mô tả chi tiết</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let reportPost of reportPosts">
                                            <td><input type="checkbox" [(ngModel)]="reportPost.checked" (ngModelChange)="updateSingleChecked()" style="width: 20px; height: 20px;"></td>
                                            <td>{{reportPost.id}}</td>
                                            <td><a routerLink="/posts/{{reportPost.postId}}/detail">{{reportPost.postId}}</a></td>
                                            <td>{{reportPost.timeReport| date: 'dd/MM/yyyy HH:mm'}}</td>
                                            <td>
                                                <span *ngIf="reportPost.scam">Lừa đảo<br></span>
                                                <span *ngIf="reportPost.duplicate">Trùng lặp<br></span>
                                                <span *ngIf="reportPost.cannotContact">Không liên lạc được<br></span>
                                                <span *ngIf="reportPost.wrongPhoto">Ảnh<br></span>
                                                <span *ngIf="reportPost.wrongInfo">Thông tin sai lệch<br></span>
                                                <span *ngIf="reportPost.rentedOut">Đã cho thuê<br></span>
                                            </td>
                                            <td>{{reportPost.another}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class="user-pagination">
                                    <div class="row">
                                        <div class="col-md-3 mt-3">
                                            <span style="margin-left: 16px;">Tổng số bản ghi: <b>{{page.totalElements}}</b></span>
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <div class="row align-items-center">
                                                <div class="col-md-6" style="text-align: right; margin-bottom: 16px;">
                                     
                                                    <select #mySelect class="recordPerPage" (change)="updatePageSize(mySelect.value)">
                                                        <option value="5">5 bản ghi/trang</option>
                                                        <option value="10" selected="true">10 bản ghi/trang</option>
                                                        <option value="20">20 bản ghi/trang</option>
                                                        <option value="30">30 bản ghi/trang</option>
                                                        <option value="40">40 bản ghi/trang</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <ngb-pagination class="" [(page)]="page.number" 
                                                    [pageSize]="page.size" 
                                                    [maxSize]="5"
                                                    [collectionSize]="page.totalElements" 
                                                    [boundaryLinks]="true"
                                                    (pageChange)="loadReportPost($event)">
    
                                                    </ngb-pagination>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>