<app-filter></app-filter>
<div class="main-section">
    <div class="container">
        <h1 class="title">Danh sách tin đăng</h1>
        <div class="row">
            <div class="col-md-9">
                <div class="nav-bar d-flex justify-content-between align-items-center">
                    <span class="total-count">Hiện có {{page.totalElements}} tin đăng</span>
                    <div class="filter">
                        <select #mySelect class="form-select" [(ngModel)]="sort" (ngModelChange)="filterPost()">
                            <option value="updatedAt,desc">Mới nhất</option>
                            <option value="accommodation.price,asc">Giá từ thấp đến cao</option>
                            <option value="accommodation.price,desc">Giá từ cao đến thấp</option>
                            <option value="accommodation.acreage,asc">Diện tích từ thấp đến cao</option>
                            <option value="accommodation.acreage,desc">Diện tích cao đến thấp</option>
                        </select>
                    </div>
                </div>

                <div class="post-section">
                    <div class="post-list">
                        <div *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page.number+1, totalItems: page.totalElements }"
                            class="post-item">
                            <app-post-item [post]="post"></app-post-item>
                        </div>
                    </div>
                    <div class="text-center">
                        <pagination-controls (pageChange)="getAllPost($event)" [maxSize]="5">

                        </pagination-controls>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <app-side-bar-filter></app-side-bar-filter>
            </div>
            
        </div>
    </div>
</div>