.main-section {
    position: relative;
    top: 120px;
    margin-bottom: 140px;
}

.total-count {
    color: var(--text-color);
    font-weight: 500;
}

.title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}


.nav-bar {
    margin: 16px 0;
}

.post-item {
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px rgba(44,44,44,0.04);
    border: 1px solid #F2F2F2;
    margin-bottom: 16px;
}

.post-item:hover {
    box-shadow: 0px 4px 16px 0px rgba(44,44,44,0.08);
}

.post-content {
    padding: 16px 16px 16px 24px;
}


.post-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color);
    font-size: 18px;
}

.thumbnail {
    position: relative;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
    
  }
  .ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: #ebb134;
    color: #fff;
  }
  

.thumbnail img {
    width: 350px;
    height: 200px;
    border-radius: 4px 0 0 4px;
}

.number-image {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #fff;
}

.post-config {
    color: var(--red-color);
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
}

.post-location {
    margin-top: 8px;
    color: #505050;
}

.contact .info {
    color: var(--text-color);
}

.btn-save {
    color: var(--text-color);
    font-size: 16px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px 11px;
}

.btn-save:hover {
    color: var(--red-color);
    background-color: #eee;
}

.filter-box {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 16px;
}

.filter-title {
    font-size: 16px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 14px;
    color: var(--text-color);
}

.filter-box a {
    color: var(--text-color);
    font-size: 14px;
}

.filter-box a:hover {
    color: var(--red-color);
}