<div class="modal" [class.active]="isActive">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Tìm kiếm xung quanh</h4>
        <button class="close-btn" (click)="closeModal()">x</button>
      </div>
      <div class="modal-body">
        <button class="btn btn-outline-danger" (click)="generateLocation()">
            Lấy vị trí hiện tại
        </button>
        <div class="mb-2">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-label">Nhập bán kính (km)</label>
              <!-- <i>Nhập bán kính và kéo điểm đỏ đến vị trí cần tìm</i> -->
              <input type="text" class="form-control" [(ngModel)]="radius" (ngModelChange)="toNumber()">
             </div>
             
             <div class="form-group col-md-6">
              <label class="form-label">Chọn danh mục</label>
              <select class="form-select" ngModel [(ngModel)]="searchForm.categoryId" >
                <option [ngValue]="undefined">Tất cả danh mục</option>
                <option value="1">Cho thuê phòng trọ</option>
                <option value="2">Nhà nguyên căn</option>
                <option value="3">Chung cư, CCMN</option>
                <option value="4">Tìm người ở ghép</option>
              </select>
             </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Chọn mức giá</label>
                <select class="form-select" ngModel [(ngModel)]="priceRange">
                  <option [ngValue]="undefined">Mức giá</option>
                  <option value="1">Dưới 1 triệu</option>
                  <option value="2">Từ 1 đến 3 triệu</option>
                  <option value="3">Từ 3 đến 5 triệu</option>
                  <option value="4">Từ 5 đến 10 triệu</option>
                  <option value="5">Từ 10 triệu trở lên</option>
                </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Chọn diện tích</label>
              <select class="form-select" [(ngModel)]="acreageRange">
                <option [ngValue]="undefined">Diện tích</option>
                <option value="1">Dưới 20 m<sup>2</sup></option>
                <option value="2">Từ 20 m<sup>2</sup> đến 30 m<sup>2</sup></option>
                <option value="3">Từ 30 m<sup>2</sup> đến 50 m<sup>2</sup></option>
                <option value="4">Từ 50 m<sup>2</sup> đến 70 m<sup>2</sup></option>
                <option value="5">Từ 70 m<sup>2</sup> trở lên</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="row">
            <div class="form-group col-md-12" [formGroup]="addressGroup">
              <label style="display: block; font-weight: 500;">Nhập địa chỉ</label>
              <!-- <i>Nhập bán kính và kéo điểm đỏ đến vị trí cần tìm</i> -->
              <input type="text" class="form-control" formControlName="address">
             </div>
          </div>
       </div>
        <!-- <div>
            <button for="" (click)="generateMarker()">Lấy các vị trí trên bản đồ</button>
        </div> -->
       
        <google-map height="400px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)">

            <map-marker  
            [options]="marker.options"
            [position]="marker.position"
            (mapDragend)="onDragEnd($event)"
            >
            </map-marker>    
            <map-circle [center]="marker.position"
            [radius]="radius*1000"></map-circle>

            <!-- <map-marker *ngFor="let marker of markerSearch" 
            [options]="optionsMarkerSearch"
            [position]="marker"
            
            >
            </map-marker>  -->
        </google-map>

        <div class="d-flex justify-content-center">
          <button class="btn btn-primary mt-3" (click)="searchByMaps()">Tìm kiếm</button>
          <button class="btn btn-outline-primary mt-3 ms-2" (click)="closeModal()">Đóng</button>
        </div>
      </div>
    </div>
  </div>
