
.main-section {
    position: relative;
    top: 120px;
    margin-bottom: 140px;
}

.base-info {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    position: sticky;
    top: 120px;
}


#post-img {
   
}

#carouselExample {
    height: 400px;
    background-color: #ddd;
}

.carousel-item img {
    margin: 0 auto;
    height: 400px;
}

.carousel-inner {
    height: 100%;
    border-radius: 8px;
}

.carousel-control-next-icon {
    background-color: #009688;
}

.carousel-control-prev-icon {
    background-color: #009688;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide img {
    height: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.swiper-wrapper {
    height: 400px!important;
}

.post-detail {
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}


.post-detail .content {
    padding: 16px;
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
    padding: 4px;
}

.post-tag {
    font-size: 12px;
    color: #009688;
    border: 1px solid #009688;
    padding: 4px;
}

.price-text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}

.post-price {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0;
}

.section {
    margin-top: 40px;
}

.spec-item {
    font-size: 14px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 10px;
}

.section-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(-text-color);
    display: block;
    margin-bottom: 24px;
}


.spec-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.spec-title {
    margin-left: 16px;
    color: #2C2C2C;
    font-weight: 500;
    width: 140px;
    display: inline-block;
}

.spec-value {
    margin-bottom: 10px;
}

.icon-right {
    font-size: 20px;
}

.icon-box {
    cursor: pointer;
    margin-right: 4px;
    padding: 8px 12px;
}

.term {
    color: var(--grey-color)
}

.icon-box:hover {
    background: #FAFAFA;
    border: solid 1px #FAFAFA;
    color: var(--red-color);
}

.btn-contact a {
    color: #2C2C2C;
    display: block;
    width: 160px;
    margin-top: 8px;
    padding: 14px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.btn-contact a.phone {
    background-color: #009688;
    color: #fff;
}