:root {
    --red-color: #E03C31;
    --text-color: #2c2c2c;
    --grey-color: #999;
    --select2-single-height: 32px;
    --success: #5cb85c;
    --wait: #f0ad4e;
    --danger: #d9534f;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    font-family: "Lexend Regular", Roboto, Arial;
    font-size: 14px;
}

.main-wrapper {
    
}

.invalid-input {
    color: red;
    font-size: 12px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red !important;
}


textarea.ng-touched.ng-invalid {
    border: 1px solid red !important;
}

select.ng-touched.ng-invalid {
    border: 1px solid red !important;

}
