:root {
    --red-color: #E03C31;
    --text-color: #2c2c2c;
    --grey-color: #999;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    font-family: "Lexend Regular", Roboto, Arial;
    font-size: 14px;
}