
.post-content {
    padding: 16px 16px 16px 24px;
}


.post-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color);
    font-size: 18px;
}

.thumbnail {
    position: relative;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
    
  }
  .ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: #ebb134;
    color: #fff;
  }
  

.thumbnail img {
    width: 350px;
    height: 200px;
    border-radius: 4px 0 0 4px;
}

.number-image {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #fff;
}

.post-config {
    color: var(--red-color);
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
}

.post-location {
    margin-top: 8px;
    color: #505050;
}

.contact .info {
    color: var(--text-color);
}

.btn-save {
    color: var(--text-color);
    font-size: 16px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px 11px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.btn-save:hover {
    color: var(--red-color);
    background-color: #eee;
}

.btn-save .fa-solid{
   color: var(--red-color);
}