.form-section, .instruction{
    padding: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.control-label {
    font-weight: 500;
    color: var(--text-color);
}

.title {
    font-size: 24px;
    color: var(--text-color);
}

.main-section {
    position: relative;
    top: 120px;
    margin-bottom: 140px;
}

.red_require {
    color: red;
}

.form-input {
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #aaa;
}

#post-title {
    color: rgb(44, 44, 44);
    border: 1px solid rgb(204, 204, 204);
    padding: 11px;
    border-radius: 4px;
    outline: none;
    caret-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Roboto;
    line-height: 20px;
    resize: none;
    width: 100%;
}

#post-content {
    height: 160px;
    color: rgb(44, 44, 44);
    border: 1px solid rgb(204, 204, 204);
    padding: 11px;
    border-radius: 4px;
    outline: none;
    caret-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Roboto;
    line-height: 20px;
    width: 100%;
}

.description {
    font-size: 12px;
    color: #888;
}

.image-upload>input {
    display: none;
}

.label-select-img {
    border: 1px solid #888;
    padding: 40px;
    cursor: pointer;
    font-size: 25px;
}

.selected-file {
    position: relative;
}

.file-details {
    position: absolute;
    right: 4px;
    top: 4px;
}

.btn-submit {
    background-color: var(--red-color);
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
}

.btn-submit:hover {
    background-color: rgb(255, 131, 122);
}

.package-wrapper {
    padding-top: 16px;
}

.package-section {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.package-title {
    font-size: 16px;
    text-align: center;
}

.package-title.priority{
    color: #ebb134;
}

.package-item {
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    text-align: center;
}

.package-item.selected {
    background-color: rgb(232, 254, 255);
    border: 1px solid rgb(0, 124, 128);
}


.package-item:hover {
    box-shadow: rgba(182, 182, 182, 0.42) 0px 8px 20px;
}

.package-price {
    display: block;
    text-align: center;
}

.number-of-day-item {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
}

.number-of-day-item.selected {
    background-color: rgb(232, 254, 255);
    border: 1px solid rgb(0, 124, 128);
}

.number-of-day-item:hover {
    box-shadow: rgba(182, 182, 182, 0.42) 0px 4px 10px;
}

.pay-wrapper {
    padding: 0 80px;
}

.label-pay {
    color: rgb(80, 80, 80);
}

.label-value {
    color: rgb(44, 44, 44);
    font-weight: 500;
}

.label-value-total {
    font-weight: bold;
    font-size: 24px;
}