<div class="header-box">
    <header class="w-100">
        <div class="w-100 nav-box d-flex justify-content-between">
            <div class="menu-with-logo d-flex align-items-center">
                <div class="logo ms-3">
                    <a routerLink="">
                        <img src="/assets/logo.png" alt="" class="logo-img">
                    </a>
                </div>
                <ul class="menu d-flex">
                    <li>
                        <a routerLink="">
                            <span class="text"> Trang chủ</span>
                            <div class="arrow"></div>
                        </a>

                    </li>
                    <li>
                        <a [routerLink]="['/filter']" [queryParams]="{categoryId: 1}">
                            <span class="text"> Cho thuê phòng trọ</span>
                            <div class="arrow"></div>
                        </a>

                    </li>
                    <li>
                        <a [routerLink]="['/filter']" [queryParams]="{categoryId: 2}">Nhà nguyên căn</a>
                        <div class="arrow"></div>
                    </li>
                    <li>
                        <a [routerLink]="['/filter']" [queryParams]="{categoryId: 3}">Chung cư, CCMN</a>
                        <div class="arrow"></div>
                    </li>
                    <li>
                        <a [routerLink]="['/filter']" [queryParams]="{categoryId: 4}">Tìm người ở ghép
                            <div class="arrow"></div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="login-group me-4 d-flex align-items-center">
                <div class="all-btn  d-flex align-items-center">
                    <a href="" class="favorite-post-link" title="Danh sách tin đã lưu">
                        <i class="heart-icon d-block fa-regular fa-heart"></i>
                    </a>

                    <a *ngIf="!user" routerLink="login">Đăng nhập</a>
                    <span *ngIf="!user" class="line"></span>
                    <a *ngIf="!user" href="">Đăng ký</a>

                    <div *ngIf="user" class="welcome-user" (click)="toggleDropdown()">
                        <img [src]="avatar" class="avatar">
                        <div class="user-name">{{user.fullName}}</div>
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="dropdown" *ngIf="showDropdown">
                            <ul>
                                <li><a routerLink="trang-ca-nhan/danh-sach-tin-dang">Quản lý tin đăng</a></li>
                                <li><a routerLink="trang-ca-nhan/thong-tin-ca-nhan">Thay đổi thông tin cá nhân</a></li>
                                <li><a href="trang-ca-nha/nap-tien">Nạp tiền</a></li>
                                <hr>
                                <li><a routerLink="/logout">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>

                    <a routerLink="/dang-tin" class="btn-post">Đăng tin</a>
                </div>
            </div>
        </div>
    </header>
</div>
