<div class="header-box">
    <header class="w-100">
        <div class="w-100 nav-box d-flex justify-content-between">
            <div class="menu-with-logo d-flex align-items-center">
                <div class="logo ms-3">
                    <a routerLink="">
                        <img src="/assets/logo.png" alt="" class="logo-img">
                    </a>
                </div>
                <ul class="menu d-flex">
                    <li>
                        <a routerLink="">
                            <span class="text"> Trang chủ</span>
                            <div class="arrow"></div>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <span class="text"> Cho thuê phòng trọ</span>
                            <div class="arrow"></div>
                        </a>

                    </li>
                    <li>
                        <a href="">Nhà nguyên căn</a>
                        <div class="arrow"></div>
                    </li>
                    <li>
                        <a href="">Chung cư, CCMN</a>
                        <div class="arrow"></div>
                    </li>
                    <li>
                        <a href="">Tìm người ở ghép
                            <div class="arrow"></div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="login-group me-4 d-flex align-items-center">
                <div class="all-btn  d-flex align-items-center">
                    <a href="" class="favorite-post-link" title="Danh sách tin đã lưu">
                        <i class="heart-icon d-block fa-regular fa-heart"></i>
                    </a>
                    <a href="">Đăng nhập</a>
                    <span class="line"></span>
                    <a href="">Đăng ký</a>

                    <a routerLink="/dang-tin" class="btn-post">Đăng tin</a>
                </div>
            </div>
        </div>
    </header>
</div>
