.header-box {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    
}

.nav-box {
 
}

.logo-img {
    height: 60px;
    width: 100px;
}

.menu {
    margin-bottom: 0;
}

.menu li {
    margin-left: 24px;
    padding: 8px;
}

.menu li a {
    color: var(--text-color);
    font-weight: 500;
}

.arrow {
    height: 2px;
    width: 0%;
    background: #E03C31;
    line-height: 0px;
    font-size: 0px !important;
    margin-top: 2px;
    transition: 0.3s;
}

.menu li:hover .arrow {
    width: 100%;
}

.heart-icon {
    font-size: 24px;
}

.login-group a {
    color: var(--text-color);
    padding: 8px 11px;
    display: block;
    font-weight: 500;
}

.login-group a:hover {
    background: #FAFAFA;
    border: solid 1px #FAFAFA;
}

.btn-post {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-post:hover {
    border: 1px solid #ccc !important;
    background: #FAFAFA;
}

.line {
    border: 0;
    width: 1px;
    height: 16px;
    background: #e5e5e5;
    margin: 15px 0;
}


/* ======USER========*/

img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.welcome-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 14px;
    position: relative;
}

.welcome-user .dropdown {
    position: absolute;
    top: 46px;
    left: -36px;
    background-color: #fff;
    width: 240px;
    box-shadow: 0px 4px 10px rgba(182,182,182,0.18) !important;
    z-index: 2;
}

.favorite-post-link {
    position: relative;
}

.total-favorite-post {
    position: absolute;
    right: 8px;
    top: 2px;
    line-height: 10px;
    border-radius: 30%;
    width: 12px;
    height: 12px;
    background-color: #E03C31;
    color: #fff;
    font-size: 10px;
    display: block;
    padding: 2px;
}

.notification-box {
    position: relative;
}

.notification-box .dropdown {
    
}

#dropdownNotif {
    position: absolute;
    top: 46px;
    left: -200px;
    background-color: #fff;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(182,182,182,0.18) !important;
    z-index: 2;
}

#dropdownNotif .header {
    text-align: center;
    color: #2c2c2c;
    padding: 12px 0;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    line-height: 24px !important;
    font-weight: bold;
}

.empty-notif-icon {
    padding: 24px 0;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

#dropdownNotif .notif-link {
    display: block;
    text-align: center;
    color: var(--red-color);
}

.notification-list {
    padding-left: 0;
}

.notification-link .message {
    overflow: hidden;
	-webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.notification-link span.time-notif {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}

@media only screen and (min-device-width:320px)and (max-device-width:480px) {
    .logo {
        width: 100%;
        text-align: center;
    }

    .menu {
        display: none;
    }

    .welcome-user {
        display: none;
    }

    .btn-post {
        display: none;
    }
}