<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
                    <div class="form-section">
                        <h2 class="title">Địa chỉ cho thuê</h2>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <label for="" class="control-label">
                                        Tỉnh/Thành
                                    </label>
                                    <select2 
                                    [data]="province"
                                    (update)="getDistrict($event)"
                                    placeholder="-- Tỉnh/thành--"
                                    >
                                    </select2>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label for="" class="control-label">
                                        Quận/Huyện
                                    </label>
                                    <select2 #myselect2
                                    [data]="district"
                                    (update)="getWard($event)"
                                    placeholder="-- Quận/Huyện--"
                                    >
                                    </select2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 col-xs-12">
                                    <label for="" class="control-label">
                                        Phường/Xã
                                    </label>
                                    <select2 
                                    [data]="ward"
                                    placeholder="-- Phường/Xã--"
                                    (update)="updateWardToAddress($event)"
                                    >
                                    </select2>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label for="" class="control-label">
                                        Số nhà, đường
                                    </label>
                                    <input type="text" class="form-input" [formControl]="streetInput" placeholder="Nhập đường">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <label for="" class="control-label">
                                    Địa chỉ
                                    <span class="red_require">*</span>
                                </label>
                                <input type="text" class="form-input"  formControlName="address" placeholder="Nhập địa chỉ và kéo điểm màu đỏ tới vị trí chính xác">
                                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="invalid-input">         
                                    <div *ngIf="address?.errors?.['required'] || address?.errors?.['notOnlyWhiteSpace']">
                                        Vui lòng nhập địa chỉ
                                    </div>
                                </div>
                            </div>
                            <div class="google-map mt-4">
                                <google-map height="400px"
                                        width="100%"
                                        [center]="center"
                                        [zoom]="zoom"
                                        (mapClick)="addMarker($event)"
                                        (mapMousemove)="move($event)">

                                    <map-marker  
                                    [options]="marker.options"
                                    [position]="markerPosition"
                                    (mapDragend)="onDragEnd($event)"
                                    >
                                    
                                    </map-marker>    
                                </google-map>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-section">
                        <h2 class="title">Thông tin bài viết</h2>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="control-label">
                                        Tiêu đề
                                        <span class="red_require">*</span>
                                    </label>
                                    <textarea type="text" id="post-title" placeholder="VD: Cho thuê phòng trọ chính chủ tại Cầu Giấy" formControlName="title"></textarea>
                                    <span class="description">Tối thiểu 10 ký tự, tối đa 99 ký tự</span>
                                    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="invalid-input">         
                                        <div *ngIf="title?.errors?.['required'] || title?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng nhập tiêu đề
                                        </div>
                                        <div *ngIf="title?.errors?.['minlength']">
                                            Vui lòng nhập tối thiểu 10 ký tự
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <label for="" class="control-label">
                                        Nội dung bài viết
                                        <span class="red_require">*</span>
                                    </label>
                                    <textarea type="text" id="post-content" placeholder="VD: Khu nhà có vị trí thuận lợi, gần công viên, gần trường học ..." formControlName="content"></textarea>
                                    <span class="description">Tối thiểu 10 ký tự, tối đa 1000 ký tự</span>
                                    <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="invalid-input">         
                                        <div *ngIf="content?.errors?.['required'] || content?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng nhập nội dung bài viết
                                        </div>
                                        <div *ngIf="content?.errors?.['minlength']">
                                            Vui lòng nhập tối thiểu 10 ký tự
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-section">
                        <h2 class="title">Thông tin phòng</h2>
                        <div class="form-group" formGroupName="accommodation">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label">
                                        Chuyên mục
                                        <span class="red_require">*</span>
                                    </label>
                                    <select class="form-input" formControlName="categoryId">
                                        <option value="1">Cho thuê phòng trọ</option>
                                        <option value="2">Nhà nguyên căn</option>
                                        <option value="3">Chung cư, CCMN</option>
                                        <option value="4">Tìm người ở ghép</option>
                                    </select>
                                    <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="invalid-input">         
                                        <div *ngIf="categoryId?.errors?.['required'] || categoryId?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng chọn chuyên mục
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label">
                                        Nhà vệ sinh
                                        <span class="red_require">*</span>
                                    </label>
                                    <select class="form-input" formControlName="toilet">
                                        <option value="KHEP_KIN">Khép kín</option>
                                        <option value="CHUNG">Chung</option>
                                        <option value="CHUA_XAC_DINH">Chưa xác định</option>
                                    </select>
                                    <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="invalid-input">         
                                        <div *ngIf="categoryId?.errors?.['required'] || categoryId?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng chọn chuyên mục
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <label for="" class="control-label">
                                        Mức giá
                                        <span class="red_require">*</span>
                                    </label>
                                    
                                    <input type="text" appNumbersOnly class="form-input" formControlName="price" placeholder="Nhập giá, VD: 3000000">
                                    <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="invalid-input">         
                                        <div *ngIf="price?.errors?.['required'] || price?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng nhập giá cả
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="control-label">
                                        Diện tích
                                        <span class="red_require">*</span>
                                    </label>
                                    <input type="text" appNumbersOnly class="form-input" formControlName="acreage" placeholder="Nhập diện tích, VD: 20 m2 thì nhập 20">
                                    <div *ngIf="acreage?.invalid && (acreage?.dirty || acreage?.touched)" class="invalid-input">         
                                        <div *ngIf="acreage?.errors?.['required'] || acreage?.errors?.['notOnlyWhiteSpace']">
                                            Vui lòng nhập diện tích
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <label class="control-label">
                                    Tiện ích (Tùy chọn)
                                </label>
                                <div class="col-sm-6">
                                    <div class="form-checkbox-group">
                                        <div class="form-checkbox">
                                            <input class="" type="checkbox" formControlName="parking"> Chỗ để xe
                                        </div>
                                        <div class="form-checkbox">
                                            <input class="" type="checkbox" formControlName="airConditioner"> Điều hòa
                                        </div>
                                        <div class="form-checkbox">
                                            <input class="" type="checkbox" formControlName="heater"> Bình nóng lạnh
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-checkbox-group">
                                        <div class="form-checkbox">
                                            <input class="" type="checkbox" formControlName="internet"> Internet
                                        </div>
                                        <div class="form-checkbox">
                                            <input class="" type="checkbox" formControlName="tv"> TV
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-section">
                        <h2 class="title">Hình ảnh</h2>
                        <label for="" class="control-label">
                            Chọn 1 hoặc nhiều hình ảnh
                        </label>
                        <div class="image-group d-flex">
                            <div class="selected-files d-flex">
                                <div class="selected-file me-2" *ngFor="let file of files; let i = index">
                                    <img [src]="file.preview" alt="{{ file.name }}" width="100" height="120">
                                    <div class="file-details">
                                    <button class="btn btn-sm btn-outline-light" type="button" (click)="removeFile(i)">X</button>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload">
                                <label for="file-input" class="label-select-img">
                                    <i class="fa-solid fa-plus"></i>
                                </label>
                                <input id="file-input" type="file" formControlName="files" multiple (change)="onFileSelected($event)" accept="image/*" />
                            </div>
                        </div>
                    </div>
<!-- 
                    <div class="form-section">
                        <h2 class="title">Chọn gói tin</h2>
                    </div> -->

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn-submit" >
                            Đăng lại
                            <span *ngIf="showLoadding" class="spinner-border spinner-border-sm" role="status">
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="instruction">
                    <h2 class="title">Hướng dẫn đăng tin</h2>
                    <ul style="list-style-type: disc">
                        <li><strong>Thông tin có dấu <span class="red_require">*</span> là bắt buộc.</strong></li>
                        <li><strong>Tiêu đề tin không dài quá 100 kí tự</strong></li>
                        <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                        <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                        <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
