<form class="box-search" style="height: 60px;">
    <div class="container">
        <div class="row align-items-center mt-3">
            <div class="col-md-2">
                <!-- <label for="">Chọn danh mục</label> -->
                <select class="form-select">
                    <option value="">Tất cả danh mục</option>
                    <option value="1">Cho thuê phòng trọ</option>
                    <option value="accommodation.price,desc">Nhà nguyên căn</option>
                    <option value="accommodation.acreage,asc">Chung cư, CCMN</option>
                    <option value="accommodation.acreage,desc">Tìm người ở ghép</option>
                </select>
            </div>
            <div class="col-md-2">
                <!-- <label for="">Chọn khu vực</label> -->
                <select class="form-select">
                    <option value="">Tất cả khu vực</option>
                    <option value="1">Cầu Giấy</option>
                    <option value="accommodation.price,desc">Bắc Từ Liêm</option>
                    <option value="accommodation.acreage,asc">Hà Đông</option>
                    <option value="accommodation.acreage,desc">Ba Đình</option>
                </select>
            </div>
            <div class="col-md-2">
                <!-- <label for="">Chọn khu vực</label> -->
                <select class="form-select">
                    <option value="">Mức giá</option>
                    <option value="1">Dưới 1 triệu</option>
                    <option value="accommodation.price,desc">Từ 1 đến 3 triệu</option>
                    <option value="accommodation.acreage,asc">Từ 3 đến 5 triệu</option>
                    <option value="accommodation.acreage,desc">Từ 5 đến 10 triệu</option>
                </select>
            </div>
            <div class="col-md-2">
                <!-- <label for="">Chọn khu vực</label> -->
                <select class="form-select">
                    <option value="">Diện tích</option>
                    <option value="1">Dưới 20 m<sup>2</sup></option>
                    <option value="accommodation.price,desc">Từ 20 m<sup>2</sup> đến 30 m<sup>2</sup></option>
                    <option value="accommodation.acreage,asc">Từ 30 m<sup>2</sup> đến 50 m<sup>2</sup></option>
                    <option value="accommodation.acreage,desc">Từ 50 m<sup>2</sup> đến 70 m<sup>2</sup></option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" style="font-size: 14px;"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
            </div>
            <div class="col-md-2">
                <button  class="btn btn-outline-primary" style="font-size: 14px;"><img src="assets/google-map-icon.png" width="14" height="14">  Tìm bằng Google Map</button>
            </div>
        </div>
    </div>
</form>
